.my-flex-container {
    margin:0 auto;
    /* width: 1140px ; */
    display: flex;
    height: 450px;
    justify-content: space-around ;
    align-items: center;
    flex-direction: row-reverse ;
}

.my-flex-box {
    width: 150px;
    height: 150px;
    background-color: plum;
    text-align: center;
    color: #fff;
    
}
 .waiting {
    height: 500px;
    background-color : #929292;
}